@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Playfair+Display&family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    /* font-family: "Poppins", sans-serif; */
}

.login-page {
    display: flex;
    justify-content: center;
    background-image: url(../images/login\ bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-page .row {
    margin-top: 10%;
}

.header-text img {
    height: 350px;
    float: left;
}

.header-text {
    padding-left: 20px;
    background-color: transparent;
}

.header-text h6 {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header-text p {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-group input {
    border: 1px solid #fff;
    border-radius: 5px;
    background: #FFF;
    padding-right: 100px;
    color: #616060;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-text {
    border-radius: 10px;
    border: 0.5px solid #FFF;
    background: transparent;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.2)50%,rgba(0, 0, 0, 0.2)50%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 400px;
}

.forgot {
    color: #150261;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.header-text .create small {
    color: #000;
}

.header-text .continue {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 2.5;
    text-align: center;
}

.icon .fa-brands {
    border: 2px solid white;
    background: #fff;
    border-radius: 100px;
    font-size: 30px;
    fill: #FFF;
    margin-right: 20px;
}

.icon {
    text-align: center;
}
.icon a{
    text-decoration: none;
}

span .fa-brands {
    padding: 0 3px;
}

.btn button {
    border-radius: 5px;
    border: 1px solid #fff;
    background: #FC8D09;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 5px 40px;
}

.btn {
    justify-content: center;
}

/* ===================================== */

.first-row-data h1 {
    font-size: 60px;
    font-weight: 700;
    color: #FC8D09;
    text-align: center;
    margin-bottom: 10px;
}

.first-row-data img {
    width: 550px;
    margin-bottom: -50px;
}

.first-row-data p {
    font-size: 25px;
    font-weight: 600;
    color: white;
    font-family: initial;
    text-align: center;
}

.form-select {
    border: none;
}

/* ==================== Media Queries ===================== */

@media screen and (max-width: 502px) {
    .first-row-data img {
        width: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .first-row-data h1{
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .first-row-data p{
        color: #000;
    }

    .header-text{
        width: 100%;
        margin-top: 30%;
    }
}