* {
    margin: 0;
    padding: 0;
}
   .home-page{
    display: flex;
    justify-content: center;
    background-image: url(../images/pexels-andrei-tanase-1271619.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

   }

.home-page img {
    width: 500px;
    margin-left: 27%;
    /* position: fixed; */
}

.home-page h3 {
    font-size: 19px;
    font-weight: 600;
    color: black;
    font-family: initial;
    text-align: center;
    margin-top: -68px;
}

.home-page p {
    /* position: absolute; */
    font-size: 40px;
    font-weight: 700;
    color: floralwhite;
    margin-top: 10%;
    text-align: center;
}

.home-page h6 {
    color: #FC8404;
    font-family: Crimson;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.home-page button {
    /* border-radius: 7px; */
    border: 2px solid #FEFEFE;
    background: #FC8806;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    padding: 5px 50px;
    color: #FFF;

    font-family: Crimson;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    
}
.data {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.data button{
    width: 170px;
    margin-top: 2%;
}


/* ================= Media Query Strat ======================= */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .home-page img{
        margin-left: 1%;
        width: 350px;
    }
    .home-page p{
        font-size: 30px;
        margin-top: 20%;
    }
    .home-page h3{
        margin-top: 1px;
    }
    .home-page h6{
        margin-top: 20%;
        text-align: center;
    }
    .data button{
        margin-top: 50%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .home-page img{
        margin-left: 1%;
    }
    .home-page p{
        font-size: 30px;
        margin-top: 20%;
    }
    .home-page h6{
        margin-top: 20%;
        text-align: center;
    }
    .data button{
        margin-top: 50%;
    }
}

@media (min-width: 769px) and (max-width: 992px){
   
    .home-page img{
        margin-left: 14%;
    }

    .home-page h6{
        text-align: center;
        margin-top: 10%;
}

.data button{
    margin-top: 50px;
}  
}

/* Large devices (laptops/desktops, 992px and up) */

@media (min-width: 992px) and (max-width:1200px) {
    .home-page img{
        margin-left: 23%;
    }
    .home-page p{
        font-size: 50px;
    }
    .home-page h6{
        margin-top: 8%;
    }
    .data button{
        margin-top: 50px;
    }
}

