* {
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #020202bc;
}
.navbar-brand img{
    width: 150px;
    height: auto;
}
.c-item {
    height: auto;
}

.c-img {
    height: auto;
    object-fit: cover;
}

.c-item h5 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.c-item p {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.booknow h6{
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.booknow p{
    color: #000;
text-align: justify;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.btn small{
    color: #030000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-right: 10px;
}
.btn button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
border: 2px solid #FC8D09;
border-radius: 2px;
background: #FC8D09;
padding: 5px 10px;
}

/* ==================================== related hotel styling Start =========================== */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }